body {
  background: url("./Images//sky.jpg");
  font-family: "Roboto Mono", monospace;
  overflow: hidden;
}

.App {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  .notes_and_form {
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    .current_user {
      span {
        color: white;
      }
      button {
        margin-left: 1rem;
        border: none;
        height: 25px;
        padding: 0 15px;
        cursor: pointer;
        border-radius: 4px;

        &:hover {
          background: grey;
        }
      }
    }
    .noteForm {
      margin: 1rem auto;
      input {
        width: 500px;
        background: rgba(75, 73, 73, 0.959);
        height: 30px;
        color: white;
        border: none;
        padding-left: 1rem;
      }
      button {
        background: rgba(13, 92, 13, 0.986);
        border: none;
        height: 32px;
        padding: 0 15px;
        cursor: pointer;
        color: white;
      }
    }
    .notes_box {
      background: rgba(56, 55, 55, 0.7);
      width: 600px;
      height: 80vh;
      overflow-y: scroll;
      margin: 0.5rem auto;
   
      .note {
        margin: 1rem;
        display: flex;
        .far {
          font-size: 35px;
          color: white;
        }
        .email_and_text {
          margin-left: 0.5rem;
          border-radius: 4px;
          background: rgba(255, 255, 255, 0.527);
          max-width: 90%;
          text-align: start;
          display: block;
          span {
            font-size: 21px;
            padding: 2px 5px;
          }
          p {
            padding: 0 0.5rem;
            word-wrap: break-word;
          }
        }
      }
    }
  }

  .form_block {
    background: white;
    max-width: 290px;
    position: relative;
    top: 200px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border: 5px solid white;
    border-radius: 4px;
    opacity: 0.9;
    #title {
      background: grey;
      padding: 0.5rem;
      color: white;
    }

    .body {
      form {
        display: flex;
        flex-direction: column;
        text-align: start;

        span {
          margin: 0 0.4rem;
          font-size: 12px;
          margin-top: 1rem;
          color: rgba(128, 128, 128, 0.904);
        }
      }
      .buttons {
        display: flex;
        justify-content: space-between;
        margin: 0.4rem 0.4rem;
        .loginBtn {
          width: 70px;
          cursor: pointer;
          padding: 2px;
          font-size: 12px;
        }
        .registerBtn {
          width: 70px;
          cursor: pointer;
          padding: 2px;
          font-size: 12px;
        }
      }
    }
  }
}
